@import "tailwindcss";

@font-face {
  font-family: "Cinzel";
  src: url("/fonts/Cinzel-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Cinzel";
  src: url("/fonts/Cinzel-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

html,
body,
#root {
  height: 100%;
}

html {
  font-display: optional;
}

#root {
  position: relative;
  z-index: 1;
}

body {
  background: radial-gradient(rgb(74, 0, 0), rgb(0, 0, 0));
  color: #f5f5f5;
}

.font-cinzel {
  font-family: "Cinzel", serif;
}

@keyframes faction-glow {
  0% {
    box-shadow: 0 0 0px rgba(0, 0, 0, 0);
  }

  50% {
    box-shadow:
      0 0 24px var(--glow),
      0 0 48px var(--glow),
      0 0 40px var(--glow);
  }

  100% {
    box-shadow: 0 0 0px rgba(0, 0, 0, 0);
  }
}

.animate-faction-glow {
  animation: faction-glow 1.25s ease-in-out infinite;
  animation-delay: 500ms;
}
